# get the authkey from the tailscale admin console
TS_AUTHKEY=YOUR-tskey-auth-KEY

# get the ip by running `podman exec tailscale-sidecar tailscale ip -4` after running `podman-compose up -d`
JELLYFIN_IP=YOUR-TAILSCALE-CONTAINER'S-IP

# replace with your actual directories to be mapped to the container
MEDIA_PATH=/mnt/media
CONFIG_PATH=/home/user/.config/jellyfin-pod
CACHE_PATH=/home/user/.cache/jellyfin-pod

